<div id="content">
    <div class="container mt-2" >
        <h1>Employee list Table</h1>
        <form [formGroup]="employeeForm" (ngSubmit)="addOrUpdateEmployee()">
            <input formControlName="id" placeholder="Employee ID" />
            <input formControlName="name" placeholder="Name" />
            <input formControlName="email" placeholder="Email" />
            <input formControlName="city" placeholder="City" />
            <input formControlName="mobile" placeholder="Mobile" />
            <button id="sub" type="submit">{{ editing ? 'Update' : 'Add' }}</button> &nbsp;
            <button id="reset" type="button" (click)="resetForm()">Reset</button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Mobile</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{ emp.id }}</td>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.email }}</td>
                    <td>{{ emp.city }}</td>
                    <td>{{ emp.mobile }}</td>
                    <td>
                        <button (click)="editEmployee(emp)" >Edit</button>&nbsp;
                        <button (click)="deleteEmployee(emp.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>